body {
  font-family: Arial, sans-serif;
  background-image: url('rio2.png');
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.login-box {
  background: #268358;
  color: white;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.login-box .btn-entrar  {
  background: white;
  color: black;
  border: 2px solid black;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
}

.reserva-box {
  background: #f1f1eb;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.reserva-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-reservar {
  background: #202c28;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 22px;
  cursor: pointer;
}

.form-group {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.divider {
  text-align: center;
  margin: 10px 0;
  color: #888;
}

.btn-email {
  width: 100%;
  padding: 10px;
  background: #f0f0f0;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button {
  background: #080808;
  text-align:left;
  border: none;
  width: 20%;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.button a {
  color: #f0f0f0;
}

.container1 {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.ava-box {
  background: #268358;
  color: white;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}