body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fefae0;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.hero-header {
  height: 100vh;
  background-image: url('riocapa.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3); /* escurece um pouco a imagem */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
}

.navbar {
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo img {
  height: 100px;
}

.logo span {
  font-size: 12px;
  margin-top: 5px;
}

.menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #ffc107;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icons img {
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.icons img:hover {
  transform: scale(1.1);
}

.btn-delivery {
  background-color: #f1c40f;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.btn-delivery:hover {
  background-color: #d4ac0d;
}


.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FEFAE0;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
}

.logo {
  width:150px;
}



.hero {
  text-align: center;
}

.hero-img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 5px;
}

.sobre {
  background-color: #23456a;
  color:#FEFAE0;
  padding: 40px 20px;
  text-align: center;
}

.sobre h2 {
  margin-bottom: 10px;
  font-size: 35px;
  color:#fefae0;
}

.sobre p {
  max-width: 1000px;
  margin: 0 auto 20px auto;
  font-size: 25px;
  line-height: 1.6;
}

.imagens-sobre {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.imagens-sobre img {
  width: 200px;
  border-radius: 10px;
}

.unidades {
  background-color: #fefae0;
  color:#23456a;
  padding: 40px 20px;
  text-align: center;
  
}

.unidades h2 {
  margin-bottom: 20px;
}

.imagem-unidade {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;    
  margin: 10px;

}

.imagem-unidade img {
  width: 200px;
  border-radius: 10px;
  justify-content: center;
}


.rodape {
  background-color: #f9fbfc;
  color: #fefae0;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* Estilos gerais */


.hero-header1 {
  height: 100vh;
  background-image: url('M\ E\ N\ U.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  text-align: center;
  color: #2f1b00;
}

.container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

h1 strong {
  font-weight: 700;
  color: #4c2f00; /* cor do "BUMBU" */
}

p {
  font-size: 18px;
  color: #333;
}

p strong {
  font-weight: bold;
}

.button {
  margin-top: 30px;
  padding: 15px 40px;
  background-color: #d4aa1d; /* amarelo mostarda */
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.button:hover {
  background-color: #b89117;
}
